* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit
}

.first-page-container {
  margin-top: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(115deg, rgba(167, 159, 89, 0.492), rgba(167, 159, 89, 0.765)), url("https://cdn.pixabay.com/photo/2018/01/30/22/50/forest-3119826_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.first-page-h1 {
  margin-top: 0;
  background:
    linear-gradient(270deg, rgba(123, 59, 3, 0.594), transparent);
}

#asos-brand {
  font-family: 'Braah One', sans-serif;
  margin-left: calc(100vw - 98vw);
}

.first-page-images-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: fit-content;
}

.first-page-image {
  width: calc(100vw - 65vw);
  height: calc(100vh - 20vh);
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 10px -2px 20px 2px rgba(0, 0, 0, 30%);
}

.product-container {
  width: 350px;
  height: 500px;
  color: #212121;
  font-family: 'Amaranth', sans-serif;
}

.product-image {
  width: 350px;
  height: 400px;
  object-fit: cover;
}

#product-brand-name {
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}

#product-price {
  font-size: 25px;
  color: #575656;
}

#loading-item {
  margin-top: 15%;
  font-family: 'Acme', sans-serif;
  font-size: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#loading-item-detail {
  margin-top: 0%;
  font-family: 'Acme', sans-serif;
  font-size: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.trans {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 -10px 0 0;
  padding: 0;
  animation: 2s linear infinite loading;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.75);
  }

  50% {
    transform: scale(0.5);
  }

  75% {
    transform: scale(0.75);
  }

  100% {
    transform: scale(1);
  }
}

.product-detail-container {
  width: 100vw;
  height: 100vh;
}

.img-desc-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.detail-description {
  width: 400px;
  font-family: "Futura Std", Sans-Serif;
  font-size: 20px;
}

.detail-image-container {
  width: 600px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: safe;
  align-items: center;
  margin: 0 auto;
}

.detail-image {
  display: block;
  width: 400px;
  height: 500px;
  margin: 0 auto;
  border-left: 2px solid #212121;
  border-right: 2px solid #212121;
  object-fit: cover;
}

.back-button {
  position: absolute;
}

.bi-arrow-return-left {
  width: 100px;
  height: 100px;
}

.icon-green:hover {
  color: rgb(71, 138, 138);
}

@media (max-width: 500px) {
  .first-page-image {
    width: 100vw;
    height: calc(100vh - 50vh);
  }
  #loading-item {
    margin-top: calc(100vh - 60vh);
    font-size: 30px;
    padding-left: 14px;
    width: 100vw;
  }
  .trans {
    margin: -13px;
  }
  .product-container {
    width: 90%;
    margin: 0 auto;
  }
  .product-image {
    width: 100%;
  }
  .detail-image-container {
    width: 100vw;
    height: calc(100vh - 50vh);
    margin: 0 auto;
  }
  .detail-image {
    width: 80%;
    height: 100%;
  }
  .display-mobile {
    font-size: medium;
  }
  .bi-arrow-return-left {
    width: 50px;
    height: 50px;
  }

}